<div class="navigation-bar-container">
  <div class="navigation-bar-container__logo navigation-element">
    <img class="logo-element" src="../assets/images/logon-new2.png" alt="">
  </div>
  <div class="navigation-bar-container__dashboard navigation-element">
    <span routerLink="/dashboard" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Dashboard</span>
  </div>
  <div class="navigation-bar-container__projects navigation-element">
    <span routerLink="/projects" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Projects</span>
  </div>
  <div class="navigation-bar-container__calendar navigation-element">
    <span routerLink="/calendar" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Calendar</span>
  </div>
  <div class="navigation-bar-container__statistics navigation-element">
    <span routerLink="/statistics" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Statistics</span>
  </div>
</div>
