// main colors from https://colorhunt.co/palette/167893
// or https://colorhunt.co/palette/167715 or https://coolors.co/0c120c-c20114-6d7275-c7d6d5-ecebf3
$primary: #fafafa; //#0f4c75; //#C20114;
$secondary: #faf5e4;

$accent: #ECEBF3;
$accent-2: #C7D6D5;
$accent-3: #fbdedc;

//text colors
$primary-text: #222222;
$secondary-text: #444444;

//line colors
$line-primary: #6D7275;


//button state
$element-hover: #0f4c75;
$element-focus: #111;
$element-visited: #111;

//links
$active-link: #3282b8;
