@import "variables";
@import "theme";

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  grid-row-gap: getSpacing(xs, $paddings-map);
  grid-column-gap: getSpacing(xs, $paddings-map);

  &__overviews {
    //grid-area: overviews;
    background-color: $accent;
  }

  &__calendar{
    //grid-area: calendar;
    background-color: $accent;
  }

  &__statistics {
    //grid-area: statistics;
    background-color: $accent;
  }

  &__projects {
    //grid-area: projects;
    background-color: $accent;
  }

  &__date {
    //grid-area: date;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
